:root {
    --bg-color: #f9f9f9;
    --text-color: #4b4b4b;
    --primary-color: #58cc02;
    --secondary-color: #1cb0f6;
    --border-color: #e5e5e5;
    --button-shadow: #46a302;
}

:root {
    --h-navbar: 52px;
}



